name: Build APK

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Decode Keystore
        run: |
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 -d > mxm.keystore

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Build APK
        run: ./gradlew assembleDebug

      - name: Sign APK
        run: |
          jarsigner -verbose \
            -sigalg SHA1withRSA \
            -digestalg SHA1 \
            -keystore mxm.keystore \
            -storepass mxm123456 \
            -keypass mxm123456 \
            app/build/outputs/apk/debug/app-debug.apk \
            mxm

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-signed
          path: app/build/outputs/apk/debug/app-debug.apk
